body {
	margin: 0;
	background-color: lightblue;
	text-align: center;
  }
  
  h1 {
	color: navy;
	margin-left: 20px;
	border:solid red 1px;
	padding: 20px;
  }
 
  p {
	font-style: italic;
	font-size:medium;
  }

  img {
	opacity: .9;
	border-radius: 6cm;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
  	width: 10%;
	border:solid black 1px;
  }